html, body {
    height: 100%;
}

a.navbar-brand {
    padding: 0;
    margin: 0;
    > img {
      width: auto;
      max-height: 100px;
    }
}

.fullpage {
    height: 100%;
}

.btn-primary {
    transition: all 0.2s ease;
}

.btn-primary:hover {
    color: #fff;
    background-color: #e67e22;
    border-color: rgb(109, 109, 109);
}

header#cover-top {
    background-image: url('../img/header-left.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    
    > .header-text {
        position: absolute;
        bottom: 10%;
        left: 10%;
        text-align: left;
        
      > h1 {
        color: #fff;
        padding: 20px;
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.91);//rgb(69, 176, 255)
        > small {
          color: #dcdcdc;
        }
      }
    }
}


footer {
    margin-top:3em;
    background: #000;
    color: #fff;
    font-size: 14px;

    > .row {

        > .maps {
            background: #fff;

            > .googlemap {
                width: 100% !important;
                height: 300px;
                display: block;
                opacity: 0.6;
            }
        }
        > .contact {
            > .container {
                padding: 20px;
            }
        }
    }
}
