.navbar-default {
    background: transparent;
    transition: background 0.8s ease;
    padding-bottom: 5px;
}

.scrolled {
    background: #2c3e50 !important; //rgba(85, 85, 85, 0.95)
    transition: background 0.4s ease;
}

.navbar-default .navbar-nav > li > a {
    transition: all 0.4s ease;
}

.navbar-default .navbar-nav > li > a::before, .navbar-default .navbar-nav > li.active > a::before {
    position: absolute;
    width: 80%;
    height: 0px;
    background: #fff;
    content: "";
    top: 20px;
    transition: all 0.4s ease;
}

.navbar-default .navbar-nav > li > a:hover::before, .navbar-default .navbar-nav > li > a:focus::before, .navbar-default .navbar-nav > li.active > a::before {
    height: 4px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li.active > a {
    text-decoration: none;
    transform: translateY(4px);
}

.navbar {
  margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a {
    font-size: 125%;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.dropdown-menu {
    background: rgba(44, 62, 80, 1);
    min-width: 180px;

    > li {
        

        > a {
          color: #fff;
          font-size: 110%;
          display:block;
          padding: 15px 15px;
        }
    }
}
